---
title: Index
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ author }} | Portfolio </title>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <link href="css/ie.css" rel="stylesheet" type="text/css"/>
    <![endif]-->


  <!--

  ************* WELCOME TO MY SOURCE CODE *************

  Glad to see you! Since you got here probably you're trying to have an idea
  of what kind of coder I am.

  So, just for the record, this was a rapid build for a portfolio site (1 day
  of work aproximately).

  I tried to keep it as simple as it can, so here are a couple of things that I
  use and have knowledge about that you won't see here:

  * Modernizr
  * Require.js
  * OOCSS or BEM or SMACSS
  * CSS and JS compression & minification
  * SEO optimization
  * Accesibility & validation :)

  *****************************************************

-->

</head>
<body data-spy="scroll" data-target="#nav">

  <header class="nav-large js-header-no-scroll js-nav-toggle">

    <h1 class="site-title">{{ author }} | UX</h1>

    <a class="nav-toggle icon-th-menu"></a>

    <nav id="nav">

      <ul class="nav">
        <li><a class="js-local-scroll" href="#intro">Intro</a></li>
        <li><a class="js-local-scroll" href="#philosophy">Philosophy</a></li>
        <li><a class="js-local-scroll" href="#work">Work</a></li>
        <li><a class="js-local-scroll" href="#nerdStuff">Nerd stuff</a></li>
        <li><a href="Marcelo-Mazza-Resume.pdf">Download Resume</a></li>
      </ul>

    </nav>

  </header>

  <main id="main">

    <section id="intro">

      <div class="side">

        <a class="profile-picture-wrap" href="mailto:ux@marcelomazza.com.ar">
          <img class="profile-picture" src="img/orig/profile-picture.jpg">
          <div class="profile-picture-back">
            Contact me!
          </div>
        </a>

      </div>

      <div class="content">

        <div class="headline">
          <h1>
            {{ author }}.
            <span class="tagline">
              <span class="is-visible">UX Consultant.</span>
              <span>Interaction Designer.</span>
              <span>Front-end Developer.</span>
              <span>Usability Researcher.</span>
              <span>Project Manager.</span>
              <span>Team Leader.</span>
              <span>Husband &amp; Father.</span>
            </span>
          </h1>
        </div>

        <p>Hola! I'm Marcelo Mazza, from Buenos Aires, Argentina. For the last 10 years I’ve been working in User Experience.</p>

        <p>I’m a problem solver, data-oriented kind of guy, and I love crafting solutions from ground-zero; wireframing, iterating, testing &amp; coding each piece of the UX puzzle.</p>

        <p>I’ll do my best to tell you more about me...</p>

        <a class="btn js-local-scroll" href="#philosophy">Read about my Philosophy &darr;</a>

      </div>

    </section>

    <section id="philosophy">

      <div class="side">

        <div class="icon-flow-children"></div>

      </div>

      <div class="content">

        <h1>Philosophy</h1>

        <h2>Understand.</h2>

        <p>Understand which are the people needs when they use your interface. Understand the goals &amp; needs of your business. If you don't know why you are doing what you are doing, it'll fall apart sooner or later.</p>

        <h2>Get the data.</h2>

        <p>To be able to understand, you need data. Learn from the real world. Data is more easy to find than ever, it's everywhere. Use it wisely, and keep using it throughout the project, before, during, after. Shape your interface around that.</p>

        <h2>Test early.</h2>

        <p>(Thanks Steve Krug for this one). Don't wait until the final polish. It will never happen. Test as soon as you can, a pencil, a paper and a coffee will do. If you don't even have that, use your competition sites. In 5 minutes you can avoid a waste of money. You already tested? Then iterate. And test again. And again.</p>

        <h2>Don't reinvent the wheel.</h2>

        <p>What a lovely phrase. There are thousands if not millions of frameworks an resources out there. The majority of them are Open Source. Use them, you'll save time and effort. You can even collaborate and make them more awesome and better.</p>

        <h2>Be prepared for failure.</h2>

        <p>It will happen. But the best of all is that you can try and keep trying. You just need the desire and hunger of doing it.</p>

        <a class="btn js-local-scroll" href="#work">See my Work &darr;</a>

      </div>

    </section>

    <section class="portfolio" id="work">

      <div class="side">

        <div class="icon-eye"></div>

      </div>

      <div class="content">

        <h1>Work</h1>

        {{#each work as | data name |}}
          {{#if data.portfolio }}
            <article>
              <h2>{{ data.title }}</h2>
              <h3>{{ data.startDate }} to {{ data.endDate }}</h3>
              {{{ data.description }}}
              <a class="btn" target="_blank" href="{{ data.url }}">{{ data.btn }}</a>
              <div class="content-full-width">
                <img class="portfolio-picture"
                src="img/{{ name }}-small.jpg"
                srcset="img/{{ name }}-large.jpg 1024w,
                img/{{ name }}-medium.jpg 640w,
                img/{{ name }}-small.jpg 320w"
                >
              </div>
            </article>
          {{/if }}
        {{/each}}

      </div>

    </section>

    <section id="nerdStuff">

      <div class="side">

        <div class="icon-spanner"></div>

      </div>

      <div class="content">

        <h1>Nerd stuff</h1>

        <h2>Backstage</h2>

        <p>This is a plain HTML website. I'm using:</p>

        <ul>
          <li><a href="http://www.google.com/fonts">Google Fonts</a></li>
          <li><a href="https://github.com/aFarkas/html5shiv">HTML5 Shiv</a></li>
          <li><a href="http://sass-lang.com/">SASS</a></li>
          <li><a href="http://jquery.com/">jQuery</a></li>
          <li><a href="http://getbootstrap.com/">Bootstrap</a> (custom build with just the "scrollspy" component)</li>
        </ul>

        <p>As a good portfolio, it's never finished. I've tried to keep it as simple as it can, so here are a couple of things that I normally use but you won't see here now (but can appear in any moment):</p>

        <ul>
          <li>Modernizr</li>
          <li>Require.js</li>
          <li>OOCSS or BEM or SMACSS</li>
          <li>CSS and JS compression &amp; minification</li>
          <li>SEO optimization</li>
          <li>Accesibility &amp; validation :)</li>
        </ul>

        <p>If you want to check the code, you can find this site in Github.</p>

        <a class="btn" href="https://github.com/marcelomazza/marcelomazza.com.ar">Check code at Github</a>

        {{#each extras }}
          <h2>{{ title }}</h2>
          <p>{{{ text }}}</p>
        {{/each}}

        <h2>Playground: Chrome Extension</h2>

        <p>I did it a couple of months ago, based on caniuse.com site. Check it out! <a target="_blank" href="https://chrome.google.com/webstore/detail/can-i-use/kinefpelfmogilfkmjlbfkamgmofmedf">Can I Use? Chrome Extension</a>. You can also check <a target="_blank" href="http://github.com/marcelomazza/caniuse-chrome-extension">it's source code</a>.</p>

        <footer>

          <h2>License</h2>

          <p>This is the license of the website, except the screenshots, of course. I don't know why you would do it, but if you need the code, feel free to reuse it.</p>

          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Marcelo Mazza | Portfolio</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://marcelomazza.com.ar/portfolio/" property="cc:attributionName" rel="cc:attributionURL">Marcelo Mazza</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://marcelomazza.com.ar/" rel="dct:source">http://marcelomazza.com.ar/</a>.
        </footer>

      </div>

    </section>


  </main>

  <!--[if gte IE 8]><!-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/portfolio.js"></script>
  <script src="js/headline.js"></script>
  <!--<![endif]-->

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18297503-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>
